:root{
    --default-color: #008080;
    --default-secondary-color: #c0c0c0;
    --default-tertiary-color: white;
    --default-gradient: #000080;
    --default-accent: #e6e9ef;
    --default-font-color: black;
    --default-secondary-font-color: white;
    --default-highlight-color: Yellow;
    --default-secondary-highlight-color: #000080;
    --default-border-color: black;
    --default-secondary-border-color: #e6e9ef;
    --default-temp-color: white;
    
}
/* @keyframes fade {
    0% {
        opacity: 0;
    }
    10%{
        opacity: .1;
    }
    20%{
        opacity: .2;
    }
    30%{
        opacity: .3;
    }
    40%{
        opacity: .4;
    }
    50%{
        opacity: .5;
    }
    60%{
        opacity: .6;
    }
    70%{
        opacity: .7;
    }
    80%{
        opacity: .8;
    }
    90%{
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
  }
@keyframes fadeNav{
    0% {
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    45%{
        opacity: .1
    }
    50%{
        opacity: .2;
    }
    55%{
        opacity: .3;
    }
    60% {
        opacity: .4;
    }
    65%{
        opacity: .5;
    }
    70% {
        opacity: .6;
    }
    75%{
        opacity: .7;
    }
    80% {
        opacity: .8;
    }
    90% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }

}
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
} */

html {
    padding: 0;
    margin: 0;
    font-size: auto fit-content;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 10px;


}

.settings {
    /* display: none; */
    height: auto fit-content;
    background-color: #c0c0c0;
    color: black;
    border: solid 2px #e6e9ef;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    padding: 5px;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    width: 200px;
    left: calc(95vw - 200px);
    display: none;
}

.settings-dropdown {
    background: white;
    border: solid 2px black;
    border-right: solid 2px #e6e9ef;
    border-bottom: solid 2px #e6e9ef;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
#settings-click{
    padding: 0px;
}
#theme-link{
    animation: 1s ease-out 0s 1 slideInFromRight;
    padding-right: 15px;
}

.theme-icon {
    padding: 10px;
    height: 32px !important;
    width: 32px !important;
    font-size: 18pt;
    background: var(--default-color);
    transition: background 1s;
    color: var(--default-tertiary-color);
    text-decoration: none;
}
.theme-entry {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

}

.theme-entry:hover {
    cursor: pointer;
}

.theme-entry:hover>.theme-des {
    color: white;
}


.theme-des {
    color: black;
}

.theme-des:hover {
    color: white;
}

#windows-theme:hover {
    background: -webkit-linear-gradient(left, #08246b, #a5cef7);
}

#eco-theme:hover {
    background: -webkit-linear-gradient(left, #2a4b41, #4b7467);
}

#charcoal-theme:hover {
    background: -webkit-linear-gradient(left, black, #15191d);
}

h1 {
    font-size: 60pt;
    animation: 1s ease-out 0s 1 fade;
    text-align: center;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Pixelated MS Sans Serif", Arial;
    margin: 0;
    padding: 0;
    background-color: var(--default-color);
    transition: background 1s;
    overflow-x: hidden;

}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: left;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #e6e9ef;
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 100vw;
    background-color: #c0c0c0;
    padding: 0;
    height: 48px;

}

.nav-icon,
.theme-icon {
    margin-right: 5px;
}

.nav-link {
    animation: 2.5s linear 0s 1 fadeNav;
    display: flex;

    justify-content: center ;
    flex-direction: row;
    align-items: center;
}
.nav-link:hover{
    cursor: pointer
}

a:hover {
    color: var(--default-highlight-color);
}

a {
    color: var(--default-tertiary-color);
    text-decoration: none !important;
}



li {
    display: flex;
    padding-right: 10px;
    height: 48px;
    justify-content: center;
    border: solid 2px #e6e9ef;
    border-right: solid 2px black;
    border-bottom: solid 2px black;

}

#sum {
    width: 300px;
    height: auto fit-content;
    background-color: var(--default-secondary-color);
    color: var(--default-font-color);
    border: solid 2px #e6e9ef;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    padding: 5px;

}

.card-section {
    background-color: var(--default-secondary-color);
    border: solid 2px #e6e9ef;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    width: 90%;
    height: 95%;
    margin-bottom: 5vh;
}

.topic-header {
    padding: 0vh 2vw;
    background: var(--default-gradient);
    color: var(--default-tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;


}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--default-tertiary-color);
    width: 85%;
    height: auto fit-content;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 2px black;
    border-right: solid 2px #e6e9ef;
    border-bottom: solid 2px #e6e9ef;
    color: var(--default-font-color);
}

.card-header {
    background-color: var(--default-color);
    color: var(--default-tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.card-des {
    padding-top: 10px;
}

.card-list {
    width: 367px;
}

a i {
    color: var(--default-font-color);
    text-decoration: underline;
}

a i:hover {
    color: var(--default-secondary-highlight-color)
}


footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    color: var(--default-tertiary-color);
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0;

}

@media (max-width: 750px) {
    h1 {
        font-size: 35pt !important;
        display: flex;
        justify-content: center;
        text-align: center;
    }


}

/* CSS for Themes */
/* ****************Charcoal****************** */
.charcoal {
    background-color: black;
    color: white;
}

.charcoal-card {
    background-color: #6f6f6f;
    color: white;
    border-right-color: #313b4b;
    border-bottom-color: #313b4b;
}

.charcoal-info {
    background-color: #15191d;

}

.charcoal-section {
    border-top-color: #313b4b;
    border-left-color: #313b4b;
}

.charcoal-card-header {
    background-color: #15191d;

}

.charcoal-header {
    background: -webkit-linear-gradient(top, black, #15191d);
}

/*****************ECO*******************/

.eco {
    background-color: #2a4b41;
}

.eco-card {
    background-color: #c7c6c1;
    color: black;
    border-right-color: white;
    border-bottom-color: white;
}

.eco-section {
    border-top-color: white;
    border-left-color: white;
}

.eco-card-header {
    background-color: #2a4b41;

}

.eco-header {
    background: -webkit-linear-gradient(left, #2a4b41, #4b7467);
}