body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #08246b;

}

nav {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #e6e9ef;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-right: 50px;

}

a:hover {
    color: Yellow;
}

a {
    color: whitesmoke;
    text-decoration: none;

}

li {
    margin: 10px;
}

#profile-pic {
    display: flex;
    border-radius: 50%;
    width: 300px;
    height: auto fit-content;
}

#sum {
    width: 300px;
    height: auto fit-content;
    background-color:  #c0c0c0;
    color: black;
    border: solid 2px #e6e9ef ;
    padding: 5px;

}

#about, #projects{
    /* background-color: #c0c0c0; */
    border-start-end-radius: 99%;
    border-bottom-right-radius: 99%;
    border-top: solid 2px #e6e9ef ;
    border-right: solid 2px #e6e9ef;
    border-bottom: solid 2px #e6e9ef ;
    padding-left: 3vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    
}

#about-header, #projects-header {
    color: #e6e9ef;
    
}
#about-information{
    display: flex;
    justify-content: center;
    align-items: center;

}

#projects, #contact{
    margin-top: 5vh;
}

#contact{
    border-top-right-radius: 99%;
    border-top-left-radius: 99%;
    /* border-right: solid 2px #e6e9ef;
    border-left: solid 2px #e6e9ef; */ 
    border-top: solid 1px #e6e9ef ;
    padding-left: 3vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 50vh;
}





@media (max-width: 500px) or (max-height: 820px) {
    #profile-pic {
        display: flex;
        width: 150px;
    }

}