html{
    padding:0;
    margin: 0;
    font-size: auto fit-content;
}

h1{
    font-size: 60pt;
}
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #08246b;
    overflow-x: hidden;

}

main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #e6e9ef;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;

}

.nav-icon{
    margin-right: 5px;
}

.nav-link{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

a:hover {
    color: Yellow;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

li {

    margin: 10px;
}

#profile-pic {
    /* display: flex; */
    border-radius: 50%;
    width: 150px;
    height: auto fit-content;
}

#sum {
    width: 300px;
    height: auto fit-content;
    background-color:  #c0c0c0;
    color: black;
    border: solid 2px #e6e9ef ;
    border-right: solid 2px black ;
    border-bottom: solid 2px black ;
    padding: 5px;

}

#about, #projects{
    background-color: #c0c0c0;
    border: solid 2px #e6e9ef ;
    border-right: solid 2px black ;
    border-bottom: solid 2px black ;

    width: 90%;
    height: 95%;
    margin-bottom: 5vh;
}

#about-header, #projects-header {
    padding: 0vh 2vw;
    background: -webkit-linear-gradient(left,#08246b,#a5cef7);
    color: #e6e9ef; 
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    
    
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    width: 85%;
    height: auto fit-content;
    margin: 10px;
    display:flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    border: solid 2px black ;
    border-right: solid 2px #e6e9ef ;
    border-bottom: solid 2px #e6e9ef ;
}
.card-header{
    background-color: #08246b;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.card-list{
    width: 367px;
}

a i{
    color: black;
    text-decoration: underline;
}
a i:hover{
    color:#08246b;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer h2{
    color: white;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0;

}

@media (max-width: 700px) or (max-height: 750px){
    /* #profile-pic {
        width: 75px;
    } */
    nav{
        height: 800px !important; 
    }
    h1{
        font-size: 35pt !important;
    }


}

