@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#name{
    background-color: inherit;
    font-size: xxx-large;
}

.MuiPaper-elevation0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#home-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #0066CC;
}
.home-para{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 32px;
    max-width: 540px;
}
.home-paper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#triangle{
    display: flex;
    justify-content: center;
    align-items: center;

    animation: rotateAnimation 5s ease-in-out infinite alternate;
    width: 50px;
    height: 50px;
}
.homeRouterLink{
    color: inherit;
    text-decoration: inherit;

}
.download{
    display: flex;
    flex-direction: row;
    padding: 10px 0;

}
.page{
    width: 99vw;
    height: 99vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
}
.footer-svg, .footer-svg-flipped{
    width: 90%;
    max-height: 64px;
    height: 90%;
}
.footer-svg-flipped{
    transform: scaleX(-1);

}
.contact-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}
.contact-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.contact-img{
    border-radius: 50%;
}



