name: Convert Resume

on:
  push:
    paths:
      - resume.json

jobs:
  convert-resume: 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.WEBSITE_BOT_PAT }}
    
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
        
      - name: Install dependencies
        run: npm install -g resumed jsonresume-theme-macchiato && sudo apt update -y && sudo apt install -y wkhtmltopdf

      - name: JSON -> HTML
        run: resumed render ./resume.json --theme jsonresume-theme-macchiato --output ./public/resume.html

      - name: HTML -> PDF
        run: |
          wkhtmltopdf \
            --page-size Letter \
            --disable-smart-shrinking \
            --zoom 1.5 \
            ./public/resume.html \
            ./public/Noah_Burnette_Resume.pdf

      - name: Commit PDF
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add ./public/Noah_Burnette_Resume.pdf
          git commit -m "Updated Noah_Burnette_Resume.pdf from GH Actions"
          git push
       
